body {
  background-color: black;
  font-family: Lato, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 64px;
  color: white;
}

h4 {
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  color: white;
}

table {
  text-align: center;
  table-layout: fixed;
  border-color: white
}

th {
  font-size: 22px;
  color: white;
  border-color: white
}

td{
  font-size: 18px;
  border-color: white;
  color: white;
}

.mercury {
  color: ghostwhite;
}

.venus {
  color: chocolate;
}

.earth {
  color: dodgerblue;
}

.mars {
  color: wheat;
}